<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글보기</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
        <main id="article">
            <section class="view">
                <nav>
                    <h1>글보기</h1>
                </nav>
                <form th:action="@{/article/modify}" method="post">
                    <input type="hidden" name="no" th:value="${articleDTO.no}"/>
                    <table border="0">
                        <tr>
                            <th>제목</th>
                            <td><input type="text" name="title" th:value="${articleDTO.title}"/></td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td><input type="text" name="writer" th:value="${articleDTO.user.nick}" readonly/></td>
                        </tr>
                        <tr th:if="${articleDTO.file > 0}">
                            <th>파일</th>
                            <td>
                                <th:block th:each="file:${articleDTO.files}">
                                    <p>
                                        <a th:href="@{/file/download(fno=${file.fno})}">[[${file.oName}]]</a>&nbsp;
                                        <span>[[${file.download}]]</span>회 다운로드
                                    </p>
                                </th:block>
                            </td>
                        </tr>
                        <tr>
                            <th>내용</th>
                            <td>
                                <textarea name="content">[[${articleDTO.content}]]</textarea>
                            </td>
                        </tr>
                    </table>

                    <div style="float: right; margin-top: 10px">
                        <input type="submit" value="수정" class="btn btnModify"/>
                        <a th:href="@{/article/view(no=${articleDTO.no})}" class="btn btnList">취소</a>
                    </div>
                </form>



            </section>
        </main>
        <th:block th:include="/article/_footer.html"/>
    </div>    
</body>
</html>